/*
Theme Name: Axim Landing
Theme URI: https://github.com/elementor/hello-theme/
Description: Hello Elementor Child is a child theme of Hello Elementor, created by Elementor team
Author: Elementor Team
Author URI: https://elementor.com/
Template: hello-elementor
Version: 1.0.1
Text Domain: axim
License: GNU General Public License v3 or later.
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Tags: flexible-header, custom-colors, custom-menu, custom-logo, editor-style, featured-images, rtl-language-support, threaded-comments, translation-ready
*/

* {
    --main-green: #64A244;
    --soft-green: #D2EFD7;
    --reviews-color: #EFAD57;
    --shadow-color: #D1D1D1;
    --purple-color: #210745;
    --gray-color: #767676;
    --darkgray-color: #363636;
}

html,
body {
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}

.custom-home-column {
    height: 80vh;
    max-height: 100%;
    position: relative;
}

.custom-lang-menu .menu {
    list-style: none;
    padding: 0;
    text-align: right;
}

.custom-lang-menu .menu li a {
    font-weight: 600;
    color: var(--darkgray-color);
}

.custom-lang-menu .menu li a:hover {
    font-weight: 600;
    color: var(--main-green);
}

/* CUSTOM REVIEW FORM STYLES */
.custom-form-container {
    margin-bottom: 5px;
}

.custom-form-container label {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.custom-form-container .danger {
    color: #F00;
}

.custom-form-container .hidden {
    display: none;
}

.custom-form-container button {
    display: block;
    width: 100%;
    background: var(--main-green);
    border-color: var(--main-green);
    color: #FFF;
    transition: all .3s ease-in-out;
}

.custom-form-container button:active {
    background: var(--main-green);
    border-color: var(--main-green);
    color: #FFF;
}

.custom-form-container button:visited {
    background: var(--main-green);
    border-color: var(--main-green);
    color: #FFF;
}

.custom-form-container button:hover {
    background: var(--soft-green);
    border-color: var(--soft-green);
    color: var(--main-green);
}

.rating-container {
    padding: 10px 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rating-container .select-star {
    cursor: pointer;
    height: 30px;
    flex: 0 0 20%;
    max-width: 20%;
    text-align: center;
    color: #bebebe;
}

.selected-star {
    color: var(--reviews-color) !important;
}

.fixed-star {
    color: var(--reviews-color) !important;
}

.dark-star {
    color: #dcdcdc;
}

.rating-number {
    color: var(--gray-color);
}

/* CUSTOM HEADER STYLES */
.custom-header {
    transition: opacity .3s ease-in-out, height .1s ease-in-out !important;
    box-shadow: 0 0 6px var(--shadow-color);
}

.hidden-header {
    opacity: 0;
    height: 0;
}

/* CUSTOM FOOTER STYLES */
.custom-footer-text p {
    margin-bottom: 0;
}

.custom-footer-logo-text img {
    margin-bottom: -3px;
}

/* CUSTOM FAQ STYLES */
.custom-faq-container .elementor-tab-title {
    position: relative;
}

.custom-faq-container .elementor-tab-title::before {
    content: '0'attr(data-tab);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--main-green);
    display: inline-block;
    vertical-align: middle;
}

.custom-faq-container .elementor-toggle-title {
    padding-left: 10px;
}

.custom-faq-container .elementor-toggle-icon {
    font-size: 1rem;
    margin-top: 10px;
}

/* CUSTOM POSTS STYLES */
.custom-posts-container {
    margin: 0 auto;
}

.custom-posts-container .elementor-post__meta-data {
    order: 2;
    border-top: 0 !important;
    padding-top: 0 !important;
}

.custom-posts-container .elementor-post__meta-data .elementor-post-date {
    color: var(--main-green);
}

.custom-posts-container .elementor-post__text {
    order: 3;
}

/* CUSTOM BREADCRUMBS STYLES */
ol.custom-breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ol.custom-breadcrumbs li {
    padding-right: 15px;
    position: relative;
}

ol.custom-breadcrumbs li::after {
    content: '/';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 5px;
}

ol.custom-breadcrumbs li:last-child::after {
    display: none;
}

ol.custom-breadcrumbs li a {
    color: var(--gray-color);
}


ol.custom-breadcrumbs li a:hover {
    color: var(--main-green);
}

/* CUSTOM CATEGORY SELECTOR STYLES */
.custom-categories-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.custom-categories-dropdown span {
    font-weight: 600;
}

.custom-categories-dropdown .custom-dropdown {
    position: relative;
    min-width: 260px;
    border: 1px solid var(--shadow-color);
    margin-left: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.custom-categories-dropdown .custom-dropdown .img-chevron {
    position: absolute;
    top: 40%;
    right: 15px;
    transition: all .1s ease-in-out;
}

.custom-categories-dropdown .custom-dropdown span {
    font-weight: 400;
}

.custom-categories-dropdown .custom-dropdown:hover {
    color: var(--main-green);
    border-color: var(--main-green);
}

.custom-categories-dropdown .custom-dropdown:hover .img-chevron {
    transform: rotate(180deg);
    filter: invert(42%) sepia(33%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(55%);
}

.custom-categories-dropdown .custom-dropdown:hover>.dropdown {
    display: block;
}

.custom-categories-dropdown ul.dropdown {
    display: none;
    position: absolute;
    top: 101%;
    right: 0;
    min-width: 260px;
    z-index: 9999;
    background: #fff;
    list-style: none;
    padding: 12px;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 6px 16px var(--shadow-color);
}

.custom-categories-dropdown ul.dropdown:hover {
    display: block;
}

.custom-categories-dropdown ul.dropdown li a {
    display: block;
    padding: 6px;
    color: #000;
    transition: all .3s ease-in-out;
}

.custom-categories-dropdown ul.dropdown li a:hover {
    color: var(--main-green);
}

.custom-product-button .elementor-button {
    width: 100% !important;
    color: #FFF !important;
}

/* CUSTOM PRODUCT SLIDER STYLES */
.swiper-productos {
    width: calc(87% - 100px);
}

.product-item {
    display: block;
    margin: 0 auto;
}

.product-item .products-item-wrapper {
    border-radius: 25px;
    padding: 1.5rem;
    background: #FFF;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.product-item .products-item-wrapper .product-image {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.product-item .products-item-wrapper .product-image img {
    max-height: 150px;
    width: auto !important;
    margin: 0 auto;
}

.product-item .products-item-wrapper .product-title h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--main-green);
    margin-bottom: 5px;
}

.product-item .products-item-wrapper .product-title h3 {
    color: var(--gray-color);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2rem;
    min-height: 55px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.product-item .products-item-wrapper .custom-product-info {
    max-height: 240px;
    overflow: auto;
    padding-right: 10px;
}

.product-item .products-item-wrapper .custom-product-info::-webkit-scrollbar {
    width: 8px;
}

.product-item .products-item-wrapper .custom-product-info::-webkit-scrollbar-track {
    background-color: var(--shadow-color);
    border-radius: 10px;
}

.product-item .products-item-wrapper .custom-product-info::-webkit-scrollbar-thumb {
    background: var(--gray-color);
    border-radius: 10px;
}

.product-item .products-item-wrapper .custom-product-info::-webkit-scrollbar-thumb:hover {
    background: var(--darkgray-color);
}

.product-item .products-item-wrapper .product-content {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.product-item .products-item-wrapper .product-content h2 {
    font-size: 1.1rem;
    color: var(--main-green);
}

.product-item .products-item-wrapper .product-button {
    margin-top: 1.5rem;
}

.product-item .products-item-wrapper .product-button a {
    background: var(--main-green);
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    font-weight: 600;
    font-size: 1.1rem;
}

.product-item .products-item-wrapper .product-button a img {
    max-width: 100px;
    margin-left: 10px;
    margin-bottom: -10px;
}

.product-item .products-item-wrapper .product-composition {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.product-item .products-item-wrapper .product-composition h4 {
    font-size: 1rem;
}

.product-item .products-item-wrapper .product-presentation {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.product-item .products-item-wrapper .product-presentation h4 {
    font-size: 1rem;
}

.product-item .products-item-wrapper .product-reviews {
    color: var(--reviews-color);
    font-size: 14px;
}

.swiper-productos-button-prev {
    background: var(--soft-green);
    padding: 10px;
    border-radius: 100%;
    height: 45px !important;
    width: 45px !important;
}

.swiper-productos-button-prev::after {
    font-size: 18px !important;
    font-weight: 600;
    color: var(--main-green);
}

.swiper-productos-button-next {
    background: var(--soft-green);
    padding: 10px;
    border-radius: 100%;
    height: 45px !important;
    width: 45px !important;
}

.swiper-productos-button-next::after {
    font-size: 18px !important;
    font-weight: 600;
    color: var(--main-green);
}

.swiper-productos-pagination .swiper-pagination-bullet-active {
    background: var(--main-green);
}

/* CUSTOM COMMENTS SLIDER STYLES */
.swiper-comments {
    width: calc(87% - 100px);
}

.comments-item {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.comments-item .comments-item-wrapper {
    min-height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border-radius: 25px;
    padding: 1.5rem;
    background: #FFF;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    text-align: center;
    box-shadow: 4px 4px 6px var(--shadow-color);
}

.comments-item .comments-item-wrapper h3 {
    font-size: 1.1rem;
    color: var(--purple-color);
}

.comments-item .comments-item-wrapper h4 {
    font-size: 1rem;
    margin: 1rem 0;
    color: var(--main-green);
}

.comments-item .comments-item-wrapper .comments-rating {
    color: var(--reviews-color);
    font-size: 14px;
}

.swiper-comments-button-prev {
    background: var(--soft-green);
    padding: 10px;
    border-radius: 100%;
    height: 45px !important;
    width: 45px !important;
}

.swiper-comments-button-prev::after {
    font-size: 18px !important;
    font-weight: 600;
    color: var(--main-green);
}

.swiper-comments-button-next {
    background: var(--soft-green);
    padding: 10px;
    border-radius: 100%;
    height: 45px !important;
    width: 45px !important;
}

.swiper-comments-button-next::after {
    font-size: 18px !important;
    font-weight: 600;
    color: var(--main-green);
}

.swiper-comments-pagination .swiper-pagination-bullet-active {
    background: var(--main-green);
}

.ig-logo {
    display: inline-block !important;
    width: auto !important;
    margin-right: 15px;
}

.contact-btn {
    display: inline-block !important;
    width: auto !important;
}


/* MEDIAQUERIES */
@media (max-width: 1366px) {
    .custom-column-padding .elementor-widget-wrap {
        padding-right: 20% !important;
    }
}

@media (max-width: 1170px) {
    .custom-column-padding .elementor-widget-wrap {
        padding-right: 17% !important;
    }

    .swiper-productos {
        width: calc(100% - 100px);
    }

    .swiper-comments {
        width: calc(100% - 100px);
    }
}

@media (max-width: 991px) {
    .custom-column-padding .elementor-widget-wrap {
        padding-right: 0 !important;
    }

    .custom-categories-dropdown span {
        display: none;
    }

    .custom-categories-dropdown .custom-dropdown span {
        display: block;
    }
}

@media (max-width: 767px) {
    .custom-footer-menu a.elementor-item {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .swiper-productos {
        width: calc(100% - 110px);
    }

    .swiper-comments {
        width: calc(100% - 110px);
    }

    .ig-logo {
        display: block !important;
        width: 100% !important;
        margin-right: 0;
    }

    .contact-btn {
        display: block !important;
        width: 100% !important;
    }
}

@media (max-width: 424px) {

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 0 !important;
        right: auto;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 0 !important;
        left: auto;
    }

    .product-item .products-item-wrapper .product-button a {
        font-size: 0.9rem;
    }

    .product-item .products-item-wrapper .product-button a img {
        max-width: 90px;
        margin-left: 5px;
        margin-bottom: -7px;
    }

    .product-item .products-item-wrapper .product-title h3 {
        font-size: 1.2rem;
    }
}